# python cache
__pycache__/
*.py[cod]

# virtual environments
venv/
env/
ENV/
.env/

# other common ignores
*.egg-info/
dist/
build/
*.egg


# Ignore generated static prompts
tests/static_prompts/*.md

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix


**/prompt_*.md
