[Unit]
Description=Kaye HTTP API service
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/opt/kaye
ExecStart=/opt/kaye/venv/bin/python3 -m kaye http
Restart=on-failure
RestartSec=5s
Environment="ENV=production"
Environment="FLASK_ENV=production"

[Install]
WantedBy=multi-user.target